#data-header {
    top: 0px;
    left: 0px;
    right: 0px;
    position: fixed;
    z-index: 1;
    background: #e4e4e5;
    margin: 0px;
    padding: 10px 15px 0px 15px;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.7);
    box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.7);

    .row{
        margin: 0px;
        padding: 0px;

        .column{
            padding: 0px 0px 10px 0px !important;

            .button{
                margin-right: 8px;
                padding: 8px 8px;
            }
        }
    }
}

#view-title {
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    margin-top: 60px;
}

#data-container {
    margin-top: 10px;
}

#data-table{
    width: 100% !important;

    tr td{
        padding: 5px 10px;
    }
}

#data-footer {
    left: 0px;
    right: 0px;
    bottom: 0px;
    position: fixed;
    z-index: 1;
    background: #e4e4e5;
    padding: 10px 15px;
    max-height: 50px;
}

table.ui.celled.table.dataTable.no-footer.dtr-inline.fixedHeader-floating {
    margin-top: 60px;
}

table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child:before {
    box-shadow: none;
    position: initial;
    display: inline-block;
    margin-right: 5px;
    width: 14px;
    height: 14px;
    padding: 2px 2px;
}

.ui.two.icon.input{
    width: 100%;

    .icon {
        width: 16px;
        font-size: 16px;
        right: 7px;
    }

    input{
        border-radius: 20px;
        padding: 5px 27px 5px 15px !important;
    }
}

.dataTables_scrollHead {
    background: #e5e5e5;
    border-right: 1px solid #e5e5e5 !important;
}

.dataTables_scrollBody {
    max-height: calc(100vh - 205px) !important;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

@media screen and (max-width: 767px) {
    .paginate_button.previous {
        display: inline !important;
    }
 
    .paginate_button.next {
        display: inline !important;
    }
 
    .paginate_button {
        display: none !important;
    }
}

div.dataTables_length{
    padding-top: 6px;

    .ui.selection.dropdown{
        margin: 0px 3px;
        padding: 5px 18px 5px 5px;
        min-height: 0px;
    
        &:hover {
            border: 0px !important;
            border-color: transparent !important;
        }
    
        .menu{
            border: 0px;
    
            .item{
                background: rgba(0,0,0,.05);
                padding: 10px 0px !important;
                text-align: center;
                border: 1px solid #e4e4e5;
                border-top: 0px;
            }
        }
    
        i.dropdown.icon{
            top: 3px;
            right: 5px;
        }
    }
}

div.dataTables_wrapper div.dataTables_info {
    padding-top: 8px;
}

.dataTables_paginate .pagination.menu{
    font-size: 14px;
    min-height: 20px;

    .paginate_button.item{
        padding: 8px 12px !important;
        text-align: center !important;
        min-width: 10px !important;
    }
}